/* Reset some default styles */
body, h1, h5, h6 {
    color: darkred;
    margin: 0;
    padding: 0;
}
p{
    color: black;
    margin: 10px;

}
li{
    color: dimgray;
}
 h2{
    color: dodgerblue;
    margin: 0;
    padding: 0;
}
h3 {
        color: pink;
        margin: 0;
        padding: 0;
}





/* Apply a background color to the body */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

/* Style the header and navigation */
header {
    background-color: bisque;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    color: blue;
    list-style: none;
}

nav ul li {
    color: blue;
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

/* Style the sections */
.section {
    background-color:beige;
    padding: 40px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 800px;
    margin: 10px;
}

/* Style the image */
img {
    
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius:50%;
    height:350px;
    width: 350px;
    object-fit:cover;
    border:5px solid blueviolet;
}

/* Style the work experience items */
.experience-item {
    color:red;
    margin-bottom: 20px;
}

.date {
    font-weight: bold;
}

/* Style the list items */
ul {
    color: white;
    list-style: disc;
    padding-left: 20px;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul {
        text-align: center;
        margin-top: 10px;
    }

    nav ul li {
        margin-right: 10px;
    }

    .section {
        padding: 20px;
    }
    img{
        width: 200px;
        height: 200px;
    }
}
h4{
    color: ;
}
